<template>
  <div class="login" style="margin-left: 20%; width:60%;">
	    <md-field>
	      <label>Email</label>
	      <md-input v-model="initial"></md-input>
	    </md-field>

	    <md-field>
	      <label>Password</label>
	      <md-input v-model="password"></md-input>
	    </md-field>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending">Log In</md-button>
        </md-card-actions>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

export default class Login extends Vue {}
</script>